/*	Define your fonts which are present in public/fonts folder
		& imported in _variables.scss
		
		--	EXAMPLE	--

// regular
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('/fonts/OpenSans-Regular.ttf');
}

// bold
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/fonts/OpenSans-Bold.ttf');
}

// italic
@font-face {
	font-family: 'OpenSans-Italic';
	src: url('/fonts/OpenSans-Italic.ttf');
}
*/
